.card-title{
    padding: 1rem 1.35rem !important;
    margin-bottom: 0;
    background-color: #212529!important;
    color: white !important;
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    font-size: 20px !important;
    text-align: center!important;
}
.card-body{
    width: auto !important;
}
.card-img{
    width: 100% !important;
    height: 100% !important;
}
.container1 {
    border: 2px solid #ccc;
    background-color: white;
    box-shadow: #212529,5px;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0
  }
  
  .container1::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container1 img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container1 span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .container1 {
        text-align: center;
    }
    .container1 img {
        margin: auto;
        float: none;
        display: block;
    }
  }