/* Styles required only for the example above */
.scrollspy-example {
    position: relative;
    height: 200px;
    overflow: hidden;
  }

section {
    margin-top: 50px;
    padding: 20px;
}

  #resources {
    background-color: #212529;
    color: white;
}

#scrollspy-div{
    overflow: hidden;
    height: 280px;
}
.scrollspy-example::-webkit-scrollbar {
  width: 0.3em;
}
.scrollspy-example::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}